@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

/* imported Roboto, Poppins, Anton, and Teko font families */

:root {
    /* --main-bg: #222222; */
    --main-bg: #111111;
    --txt-color: #fff;
    --light-txt: #ffffffd0;
    --secondary_txt: #111;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: transparent;


}

::-webkit-scrollbar-thumb {
    background: var(--txt-color);
}

body {
    box-sizing: border-box;
    font-family: 'Poppins';
    background: var(--main-bg);
    color: var(--txt-color);
    overflow-x: hidden;
}

nav {
    padding: 28px 6%;
    max-width: 1280px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 50%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
    box-sizing: border-box;
    transition: .2s;
}

nav h1 {
    z-index: 100;
}

nav.active {
    padding: 16px 6%;
    background: var(--main-bg);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-right: 3.5vw;
    position: relative;
}

nav ul li a {
    color: var(--txt-color);
    text-decoration: none;
    /* cursor: none; */
}

nav ul li::before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 50%;
    right: 50%;
    height: 2px;
    background: var(--txt-color);
    border-radius: 3px;
    transition: .2s;
    transition-delay: .1s;

}

nav ul li:hover::before {
    left: 0;
    right: 0;
}

nav div {
    display: flex;
    flex-direction: column;
}

nav div span {
    width: 30px;
    height: 4px;
    position: relative;
    background: var(--txt-color);
    border-radius: 3px;
}

nav div span:nth-child(1) {
    margin-bottom: 6px;
}

/* Home */

section {
    max-width: 1280px;
    padding: 90px 6% 20px 6%;
    margin: auto;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 0;
}



.header_txt {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header .header_txt {
    width: 80%;
}

.header_txt h1 {
    font-size: 3.3rem;
    max-width: 600px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: -2px;
}

.header_txt #heroHead {
    transition-delay: .3s;
}

#ScrollMeDown {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* cursor: none; */
}

#ScrollMeDown span {
    font-size: 16px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 12px;
    position: relative;
}